{
  "openapi": "3.1.1",
  "info": {
    "title": "Symplast Public API",
    "description": "The unified Symplast Public API surface, composed from each service specification.",
    "version": "0.1.79"
  },
  "servers": [
    {
      "url": "https://api.symplast.com"
    }
  ],
  "tags": [
    {
      "name": "Appointments",
      "x-displayName": "Appointments"
    },
    {
      "name": "Payments",
      "x-displayName": "Payments"
    },
    {
      "name": "Invoices",
      "x-displayName": "Invoices"
    },
    {
      "name": "Gift Cards",
      "x-displayName": "Gift Cards"
    },
    {
      "name": "Catalog",
      "x-displayName": "Catalog"
    },
    {
      "name": "Estimates",
      "x-displayName": "Estimates"
    },
    {
      "name": "Credit Notes",
      "x-displayName": "Credit Notes"
    },
    {
      "name": "Memberships",
      "x-displayName": "Memberships"
    },
    {
      "name": "Practice info",
      "x-displayName": "Practice info"
    },
    {
      "name": "Locations",
      "x-displayName": "Locations"
    },
    {
      "name": "Offices",
      "x-displayName": "Offices"
    },
    {
      "name": "Users",
      "x-displayName": "Users"
    }
  ],
  "paths": {
    "/v1/scheduling/appointments": {
      "get": {
        "tags": [
          "Appointments"
        ],
        "summary": "List appointments",
        "description": "Returns a cursor-paged feed of the caller's tenant appointments, newest changes first.\nPass `updatedSince` (UTC) to scope by change time and `pageSize` to size the page; follow\nthe `next` link (an opaque `cursor`) to page. Delivery is at-least-once — dedupe on `id`.",
        "operationId": "GetAppointments",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponsePublicAppointment"
                },
                "example": {
                  "data": [
                    {
                      "id": 1024,
                      "updatedAt": "2026-01-15T14:30:00Z",
                      "startsAt": "2026-01-20T14:00:00Z",
                      "endsAt": "2026-01-20T14:30:00Z",
                      "durationMinutes": 30,
                      "status": {
                        "id": 5,
                        "description": "Confirmed"
                      },
                      "appointmentType": {
                        "id": 1,
                        "description": "Consultation"
                      },
                      "providerId": 42,
                      "locationId": 7,
                      "patientId": 88231,
                      "isDeleted": false,
                      "isCancelled": false
                    }
                  ],
                  "pageSize": 50,
                  "count": 1,
                  "hasMore": false,
                  "nextCursor": null,
                  "next": null
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://api.symplast.com/problems/appointments/invalid-cursor",
                  "title": "Invalid cursor",
                  "status": 400,
                  "detail": "The supplied cursor could not be decoded.",
                  "code": "invalid-cursor"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://api.symplast.com/problems/unauthenticated",
                  "title": "Unauthenticated",
                  "status": 401,
                  "detail": "A valid gateway token is required to access this resource.",
                  "code": "unauthenticated"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://api.symplast.com/problems/appointments/invalid-cursor",
                  "title": "Invalid cursor",
                  "status": 400,
                  "detail": "The supplied cursor could not be decoded.",
                  "code": "invalid-cursor"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://api.symplast.com/problems/appointments/internal-error",
                  "title": "Internal server error",
                  "status": 500,
                  "detail": "An unexpected error occurred.",
                  "code": "internal-error"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/scheduling/appointments/{id}": {
      "get": {
        "tags": [
          "Appointments"
        ],
        "summary": "Get an appointment by id",
        "description": "Returns a single appointment by its identifier, scoped to the caller's tenant. An id that\ndoes not exist in the tenant returns 404 (a cross-tenant id is indistinguishable from a\nmissing one — no disclosure).",
        "operationId": "GetAppointmentById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The appointment identifier, unique within the caller's tenant.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicAppointment"
                },
                "example": {
                  "id": 1024,
                  "updatedAt": "2026-01-15T14:30:00Z",
                  "startsAt": "2026-01-20T14:00:00Z",
                  "endsAt": "2026-01-20T14:30:00Z",
                  "durationMinutes": 30,
                  "status": {
                    "id": 5,
                    "description": "Confirmed"
                  },
                  "appointmentType": {
                    "id": 1,
                    "description": "Consultation"
                  },
                  "providerId": 42,
                  "locationId": 7,
                  "patientId": 88231,
                  "isDeleted": false,
                  "isCancelled": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://api.symplast.com/problems/unauthenticated",
                  "title": "Unauthenticated",
                  "status": 401,
                  "detail": "A valid gateway token is required to access this resource.",
                  "code": "unauthenticated"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://api.symplast.com/problems/appointments/invalid-cursor",
                  "title": "Invalid cursor",
                  "status": 400,
                  "detail": "The supplied cursor could not be decoded.",
                  "code": "invalid-cursor"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://api.symplast.com/problems/appointments/not-found",
                  "title": "Not found",
                  "status": 404,
                  "detail": "The requested appointment does not exist in this tenant.",
                  "code": "not-found"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://api.symplast.com/problems/appointments/internal-error",
                  "title": "Internal server error",
                  "status": 500,
                  "detail": "An unexpected error occurred.",
                  "code": "internal-error"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/scheduling/appointment-types": {
      "get": {
        "tags": [
          "Appointments"
        ],
        "summary": "List appointment types",
        "description": "Returns the caller tenant's appointment-type vocabulary (id, description, default duration, deleted flag).",
        "operationId": "GetAppointmentTypes",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AppointmentTypeLookup"
                  }
                },
                "example": [
                  {
                    "id": 1,
                    "description": "Consultation",
                    "durationInMinutes": 30,
                    "isDeleted": false
                  }
                ]
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://api.symplast.com/problems/appointments/invalid-cursor",
                  "title": "Invalid cursor",
                  "status": 400,
                  "detail": "The supplied cursor could not be decoded.",
                  "code": "invalid-cursor"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://api.symplast.com/problems/appointments/internal-error",
                  "title": "Internal server error",
                  "status": 500,
                  "detail": "An unexpected error occurred.",
                  "code": "internal-error"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/scheduling/appointment-purposes": {
      "get": {
        "tags": [
          "Appointments"
        ],
        "summary": "List appointment purposes",
        "description": "Returns the caller tenant's appointment-purpose vocabulary (id, description, deleted flag).",
        "operationId": "GetAppointmentPurposes",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AppointmentPurposeLookup"
                  }
                },
                "example": [
                  {
                    "id": 2,
                    "description": "New Patient",
                    "isDeleted": false
                  }
                ]
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://api.symplast.com/problems/appointments/invalid-cursor",
                  "title": "Invalid cursor",
                  "status": 400,
                  "detail": "The supplied cursor could not be decoded.",
                  "code": "invalid-cursor"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://api.symplast.com/problems/appointments/internal-error",
                  "title": "Internal server error",
                  "status": 500,
                  "detail": "An unexpected error occurred.",
                  "code": "internal-error"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/scheduling/appointment-statuses": {
      "get": {
        "tags": [
          "Appointments"
        ],
        "summary": "List appointment statuses",
        "description": "Returns the caller tenant's appointment-status vocabulary (id, name, description, deleted flag).",
        "operationId": "GetAppointmentStatuses",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AppointmentStatusLookup"
                  }
                },
                "example": [
                  {
                    "id": 5,
                    "name": "Confirmed",
                    "description": "Appointment confirmed by the patient",
                    "isDeleted": false
                  }
                ]
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://api.symplast.com/problems/appointments/invalid-cursor",
                  "title": "Invalid cursor",
                  "status": 400,
                  "detail": "The supplied cursor could not be decoded.",
                  "code": "invalid-cursor"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://api.symplast.com/problems/appointments/internal-error",
                  "title": "Internal server error",
                  "status": 500,
                  "detail": "An unexpected error occurred.",
                  "code": "internal-error"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/scheduling/appointment-stages": {
      "get": {
        "tags": [
          "Appointments"
        ],
        "summary": "List appointment stages",
        "description": "Returns the caller tenant's appointment-stage vocabulary; each stage lists the status ids it couples to.",
        "operationId": "GetAppointmentStages",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AppointmentStageLookup"
                  }
                },
                "example": [
                  {
                    "stageType": "Scheduled",
                    "description": "Scheduled stage",
                    "statusIds": [
                      5,
                      6
                    ]
                  }
                ]
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://api.symplast.com/problems/appointments/invalid-cursor",
                  "title": "Invalid cursor",
                  "status": 400,
                  "detail": "The supplied cursor could not be decoded.",
                  "code": "invalid-cursor"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://api.symplast.com/problems/appointments/internal-error",
                  "title": "Internal server error",
                  "status": 500,
                  "detail": "An unexpected error occurred.",
                  "code": "internal-error"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/scheduling/appointment-payment-types": {
      "get": {
        "tags": [
          "Appointments"
        ],
        "summary": "List appointment payment types",
        "description": "Returns the caller tenant's appointment payment-type vocabulary (id, description).",
        "operationId": "GetAppointmentPaymentTypes",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PaymentTypeLookup"
                  }
                },
                "example": [
                  {
                    "id": 1,
                    "description": "Cash"
                  }
                ]
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://api.symplast.com/problems/appointments/invalid-cursor",
                  "title": "Invalid cursor",
                  "status": 400,
                  "detail": "The supplied cursor could not be decoded.",
                  "code": "invalid-cursor"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://api.symplast.com/problems/appointments/internal-error",
                  "title": "Internal server error",
                  "status": 500,
                  "detail": "An unexpected error occurred.",
                  "code": "internal-error"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/financials/payment-modes": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "List payment modes",
        "description": "Returns every payment mode configured for the authenticated tenant, ordered by `id` ascending, one page at a time.\n\nThis is a FULL-COLLECTION read, not an incremental feed. The underlying table has no created or modified timestamp, so there is deliberately no `updatedSince` parameter and no way to ask for \"what changed\": a consumer keeping a local copy re-reads the whole collection.\n\nDeleted payment modes ARE included, carrying `isDeleted: true`. Historical payments keep referencing a mode after the practice removes it, so filtering them out server-side would leave those payments unresolvable. Filter on `isDeleted` for the currently selectable modes.\n\n`name` and `displayName` are practice-authored labels and `id` is tenant-local; `paymentType` is the only field that means the same thing across tenants.",
        "operationId": "GetPaymentModes",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponsePublicPaymentMode"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/financials/payment-reasons": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "List payment reasons",
        "description": "Returns every payment reason configured for the authenticated tenant, ordered by `id` ascending, one page at a time.\n\nThis is a FULL-COLLECTION read, not an incremental feed. The underlying table has no created or modified timestamp, so there is deliberately no `updatedSince` parameter and no way to ask for \"what changed\": a consumer keeping a local copy re-reads the whole collection.\n\nDeleted AND inactive payment reasons ARE included, carrying `isDeleted` and `isActive`. Historical payments keep referencing a reason after the practice removes or deactivates it, so filtering either out server-side would leave those payments unresolvable. Filter on `isDeleted` and `isActive` for the currently selectable reasons.\n\n`description` matches the inline reference object already carried on `/v1/financials/payments`.",
        "operationId": "GetPaymentReasons",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponsePublicPaymentReason"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/financials/discount-reasons": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "List discount reasons",
        "description": "Returns every discount reason configured for the authenticated tenant, ordered by `id` ascending, one page at a time.\n\nThis is a FULL-COLLECTION read, not an incremental feed. The underlying table has no created or modified timestamp, so there is deliberately no `updatedSince` parameter and no way to ask for \"what changed\": a consumer keeping a local copy re-reads the whole collection.\n\nThis table carries no delete flag at all, and deleting a discount reason is a HARD delete: a historical invoice, credit-note or estimate line can reference an id this endpoint no longer returns. The inline `{id, name}` object already published on those line items remains the only way to read a deleted reason's label.\n\n`name` matches the inline reference object already carried on those line items.",
        "operationId": "GetDiscountReasons",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponsePublicDiscountReason"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/financials/gift-card-occasions": {
      "get": {
        "tags": [
          "Gift Cards"
        ],
        "summary": "List occasions",
        "description": "Returns every occasion configured for the authenticated tenant, ordered by `id` ascending, one page at a time.\n\nThis is a FULL-COLLECTION read, not an incremental feed. The underlying table has no created or modified timestamp, so there is deliberately no `updatedSince` parameter and no way to ask for \"what changed\": a consumer keeping a local copy re-reads the whole collection.\n\nThere is no closed enum for the occasion: the set is tenant-extensible, so use `isSystem` to distinguish a platform-seeded occasion from one the practice created.\n\nDeleted AND inactive occasions ARE included, carrying `isDeleted` and `isActive`. Historical records keep referencing an occasion after the practice removes or deactivates it, so filtering either out server-side would leave those records unresolvable. Filter on `isDeleted` and `isActive` for the currently selectable occasions.",
        "operationId": "GetOccasions",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponsePublicOccasion"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/financials/item-brands": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "summary": "List brands",
        "description": "Returns every brand configured for the authenticated tenant, ordered by `id` ascending, one page at a time.\n\nThis is a FULL-COLLECTION read, not an incremental feed. The underlying table has no created or modified timestamp, so there is deliberately no `updatedSince` parameter and no way to ask for \"what changed\": a consumer keeping a local copy re-reads the whole collection.\n\nDeleted brands ARE included, carrying `isDeleted: true`. Historical items keep referencing a brand after the practice removes it, so filtering it out server-side would leave those items unresolvable. Filter on `isDeleted` for the currently selectable brands.\n\nThis is additive to the inline `brand` object already published on an item (`{ id, name }`), which is unchanged and stays.",
        "operationId": "GetBrands",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponsePublicBrand"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/financials/item-categories": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "summary": "List categories",
        "description": "Returns every category configured for the authenticated tenant, ordered by `id` ascending, one page at a time.\n\nThis is a FULL-COLLECTION read, not an incremental feed. The underlying table has no created or modified timestamp, so there is deliberately no `updatedSince` parameter and no way to ask for \"what changed\": a consumer keeping a local copy re-reads the whole collection.\n\nThis is the FLAT category list — the `Categories` table — and is NOT the hierarchical one. `HierarchicalCategories` is a separate table with its own `parentId` and its own delete flag, served by a separate lookup; do not confuse the two.\n\nThis table carries no delete flag at all, and deleting a category is a HARD delete: a historical item can carry a category id this endpoint no longer returns. The inline `categories[] { id, name }` array already published on that item remains the only way to read a deleted category's label.\n\n`name` matches the inline reference objects already carried in that array.",
        "operationId": "GetCategories",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponsePublicCategory"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/financials/item-hierarchical-categories": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "summary": "List hierarchical categories",
        "description": "Returns every hierarchical category configured for the authenticated tenant, ordered by `id` ascending, one page at a time.\n\nThis is a FULL-COLLECTION read, not an incremental feed. The underlying table has no created or modified timestamp, so there is deliberately no `updatedSince` parameter and no way to ask for \"what changed\": a consumer keeping a local copy re-reads the whole collection.\n\nThe collection is FLAT. `parentId` is nullable — null for a root category — and there is NO server-side tree assembly: a nested response cannot be cursor-paged coherently, because a page boundary would have to fall between a parent and a child it has already promised the consumer. Build the tree client-side from `id` and `parentId`.\n\nOrdering is by `id`, NOT by tree position: a child can arrive on an EARLIER page than its parent. A consumer must read every page before assembling the tree, or it will observe a `parentId` that \"does not exist yet\" on a page it has already seen.\n\n`parentId` MAY point at a category whose own `isDeleted` is `true`. The write side validates only that a parent id exists at all when a category is created or reparented, never that the parent is still live, so a live child can end up under a deleted parent. `parentId` may also point at a row a consumer's own picker logic has filtered out for some other reason. Resolve `parentId` against this same collection, including deleted rows, rather than assuming it always resolves to a currently-selectable category.\n\nDeleted categories ARE included, carrying `isDeleted: true`, and are never filtered out server-side — for the reason above, a live child can depend on a deleted parent still being resolvable. Filter on `isDeleted` for the currently selectable categories.\n\nThis is additive to the inline `hierarchicalCategory` object already published on an item (`{ id, name, parentId }`), which is unchanged and stays. This is NOT the flat `Categories` lookup (`/v1/financials/item-categories`) — that is a separate table with no parent and no delete flag at all; do not confuse the two.",
        "operationId": "GetHierarchicalCategories",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponsePublicHierarchicalCategory"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/financials/item-types": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "summary": "List item types",
        "description": "Returns every item type configured for the authenticated tenant, ordered by `id` ascending, one page at a time.\n\nThis is a FULL-COLLECTION read, not an incremental feed. The underlying table has no created or modified timestamp, so there is deliberately no `updatedSince` parameter and no way to ask for \"what changed\": a consumer keeping a local copy re-reads the whole collection.\n\nThe table also carries four behaviour flags — `showInventory`, `showPaymentSchedules`, `showCollection`, `isSelectable` — that drive internal UI behaviour, not the meaning of the type. NONE of them is published here.\n\nSeeded defaults exist, but the set is tenant-extensible, so there is deliberately no closed enum for it.\n\nThis table carries no delete flag at all, and deleting an item type is a HARD delete: a historical item can carry an item-type id this endpoint no longer returns. The inline `itemType { id, name }` reference object already published on that item remains the only way to read a deleted item type's label.\n\nThe payload matches that inline `itemType` object exactly: `id` and `name`, nothing more.",
        "operationId": "GetItemTypes",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponsePublicItemType"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/financials/estimates": {
      "get": {
        "tags": [
          "Estimates"
        ],
        "summary": "List estimates",
        "description": "Returns the tenant's estimates as a CHANGE FEED, one page at a time, ordered by `COALESCE(ModifiedUtcDate, CreatedUtcDate)` ascending with the estimate id as a tie-break.\n\n`modifiedDateUtc` carries that coalesced value and is therefore never null: the stored modified timestamp IS nullable and is null for every estimate nobody has edited, so an incremental consumer filtering on the raw column would never see them. Until the first edit, `modifiedDateUtc` equals `createdUtcDate`. The filter parameter is `updatedSince` while the response field is `modifiedDateUtc`; that asymmetry is deliberate and shared with the appointments public surface.\n\nFilters: `updatedSince` (ISO-8601 timestamp, inclusive), `patientId`, `status` (repeatable — `status=Open&status=Funded` reads as OR), and `effectiveDateFrom` / `effectiveDateTo`, an inclusive range over the `effectiveDate` calendar date. `status` accepts exactly the values `/v1/financials/estimate-statuses` returns and rejects `Unknown`, which exists only to absorb a stored value from outside the contract on the way out.\n\nRejected, Cancelled, Deleted and expired estimates ARE included by default. Reporting computes conversion rates from the whole population, so excluding them server-side would remove the denominator; narrow with `status` instead. There is no revision history in the schema — an edit overwrites the estimate and moves its watermark — so every row here is the current version of that estimate.\n\nOne caveat when computing a conversion rate. A practice can CLONE an estimate, which creates a separate estimate with its own `estimateId` and `estimateNumber`, in `Draft`, and the schema records NO link back to the original — the only trace is an internal audit line, which this surface does not publish. A reworked quote therefore appears here as two independent estimates, and a naive rate over the whole population double-counts the opportunity. There is no server-side fix available: the relationship genuinely is not stored.\n\nA cursor is bound to the filters it was issued under. Changing any filter value and replaying the cursor is rejected rather than silently resumed mid-stream in another patient's data.\n\nLine items are INLINE, in `lineItems`, fetched set-based for the whole page. Note two things about them. `isCalculatedRate` says which arithmetic applies: when it is `false`, `subTotalAmount = rate × quantity − totalDiscount`; when it is `true`, `rate` IS the line total and that multiplication does not reconcile. `subTotalAmount` is authoritative either way. And `overrideName` is OPERATOR-AUTHORED FREE TEXT that MAY CONTAIN PHI — do not log it, cache it by it, or index it.\n\n`invoiceIds` on the header is the distinct set of invoices this estimate's lines have been converted into; conversion is per line, so more than one id, or one id alongside a line whose `invoiceId` is null, means the estimate is PARTIALLY converted. Each id is retrievable from `/v1/financials/invoices/{id}`.\n\n`serviceLocationId` and `billingLocationId` are `null` when the practice never set them. The underlying columns are `NOT NULL DEFAULT 0` and 0 is a not-set sentinel rather than a location id, so publishing it would name a location that does not exist.\n\nNot published: patient signatures in any form, the tax breakdown, memberships, patient credits, responsible-party payer splits, and every operator free-text field other than `overrideName`.\n\n`lineItems` IS BOUNDED. One page returns at most 25000 line rows in total across its estimates, and the single-estimate read is bounded the same way. The ceiling is orders of magnitude above any real estimate, so reaching it says something is wrong with the data rather than with the request. If it is ever reached the `lineItems` arrays on that page are truncated from the last estimate backwards — `next`, the paging keyset and the header fields are unaffected — and the service counts and logs the event rather than truncating in silence.",
        "operationId": "GetEstimates",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updatedSince",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patientId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "effectiveDateFrom",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "effectiveDateTo",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponsePublicEstimate"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/financials/estimates/{estimateId}": {
      "get": {
        "tags": [
          "Estimates"
        ],
        "summary": "Get an estimate",
        "description": "Returns one estimate with its line items inline — the same payload the collection returns, for a single id.\n\nAn id belonging to another tenant answers 404, not 403: the read runs against the verified tenant's database, so \"does not exist\" and \"not yours\" are the same answer and the response does not distinguish them.\n\n`overrideName` on a line is OPERATOR-AUTHORED FREE TEXT and MAY CONTAIN PHI. `isCalculatedRate`, `invoiceIds` and the `null` location sentinel behave exactly as documented on `GET /v1/financials/estimates`.",
        "operationId": "GetEstimate",
        "parameters": [
          {
            "name": "estimateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicEstimate"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/financials/invoices": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "List invoices",
        "description": "Returns the tenant's invoices as a CHANGE FEED, one page at a time, ordered by `COALESCE(ModifiedUtcDate, CreatedUtcDate)` ascending with the invoice id as a tie-break.\n\n`modifiedDateUtc` carries that coalesced value and is therefore never null: the stored modified timestamp IS nullable and is null for every invoice nobody has edited, so an incremental consumer filtering on the raw column would never see them. Until the first edit, `modifiedDateUtc` equals `createdUtcDate`. The filter parameter is `updatedSince` while the response field is `modifiedDateUtc`; that asymmetry is deliberate and shared with the appointments public surface.\n\nA LINE-ITEM edit moves the watermark. That is worth stating because it did not before this surface existed: the platform's line-item write paths wrote `InvoiceItems` and left the header alone, so a changed rate, quantity, discount or provider — money-affecting edits — would not have surfaced here. Those paths now stamp the parent invoice.\n\nFilters: `updatedSince` (ISO-8601 timestamp, inclusive), `patientId`, `status` (repeatable — `status=Open&status=Paid` reads as OR), and `effectiveDateFrom` / `effectiveDateTo`, an inclusive range over the `effectiveDate` calendar date. `status` accepts exactly the values `/v1/financials/invoice-statuses` returns and rejects `Unknown`, which exists only to absorb a stored value from outside the contract on the way out.\n\nVoid and Deleted invoices ARE included by default and are returned with their status. Reporting consumers need to see reversals, and an invoice that disappeared from an incremental feed on being voided would leave a consumer holding a revenue figure it could never correct; narrow with `status` instead. There is no revision history in the schema — an edit overwrites the invoice and moves its watermark — so every row here is the current version of that invoice.\n\nMONEY. The published header totals do NOT close on their own, and that is a property of the schema rather than an omission. The platform computes `amount` as `subTotalAmount - totalDiscount + the invoice's tax total`, and that tax total is the sum of the `InvoiceTaxes` breakdown rows, which this contract does not publish and no column stores. `coveredTaxesAmount` is a DIFFERENT figure — the tax the practice absorbs — and must not be substituted for it. `subTotalAmount` is itself GROSS of discount. `tipsTotal` and `surchargesTotal` are reported alongside `amount`, not inside it: tips accrue from payments, and the surcharge is a restatement of a line already present in `lineItems`, so adding either would double-count. Treat `amount` and `balanceDue` as authoritative and do not recompute them.\n\n`paidAmount` is DERIVED as `amount - balanceDue`. It comes from the invoice's own maintained balance and is NOT a reconciliation against the payment ledger: no column stores it, and summing the payment allocations instead could disagree with the balance every other reader trusts. The payment x invoice split is intentionally not public, so a consumer needing payment-level detail reads the payments resource, which carries invoice ids without per-invoice amounts.\n\nA cursor is bound to the filters it was issued under. Changing any filter value and replaying the cursor is rejected rather than silently resumed mid-stream in another patient's data.\n\nLine items are INLINE, in `lineItems`, fetched set-based for the whole page. Note two things about them. `isCalculatedRate` says which arithmetic applies: when it is `false`, `subTotalAmount = rate × quantity − totalDiscount`; when it is `true`, `rate` IS the line total and that multiplication does not reconcile. `subTotalAmount` is authoritative either way. And `overrideName` is OPERATOR-AUTHORED FREE TEXT that MAY CONTAIN PHI — do not log it, cache it by it, or index it.\n\n`estimateId` on the header names the estimate this invoice was raised from, if any; a line's `estimateItemId` names the estimate line it came from. Both point from invoice to estimate, which is the opposite of the estimate surface's `invoiceIds` — conversion is recorded on both sides but at different grains, so more than one invoice can name the same estimate.\n\n`serviceLocationId` and `billingLocationId` are `null` when the practice never set them. The underlying columns are `NOT NULL DEFAULT 0` and 0 is a not-set sentinel rather than a location id, so publishing it would name a location that does not exist.\n\nNot published: the tax breakdown, the per-payment allocation split, responsible-party payer splits (insurance is not in v1), memberships, certificates, Galderma posted items, and every operator free-text field other than `overrideName`.\n\n`lineItems` IS BOUNDED. One page returns at most 25000 line rows in total across its invoices, and the single-invoice read is bounded the same way. The ceiling is orders of magnitude above any real invoice, so reaching it says something is wrong with the data rather than with the request. If it is ever reached the `lineItems` arrays on that page are truncated from the last invoice backwards — `next`, the paging keyset and the header fields are unaffected — and the service counts and logs the event rather than truncating in silence.",
        "operationId": "GetInvoices",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updatedSince",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patientId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "effectiveDateFrom",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "effectiveDateTo",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponsePublicInvoice"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/financials/invoices/{invoiceId}": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "Get an invoice",
        "description": "Returns one invoice with its line items inline — the same payload the collection returns, for a single id.\n\nAn id belonging to another tenant answers 404, not 403: the read runs against the verified tenant's database, so \"does not exist\" and \"not yours\" are the same answer and the response does not distinguish them.\n\n`overrideName` on a line is OPERATOR-AUTHORED FREE TEXT and MAY CONTAIN PHI. The derivation of `paidAmount`, the fact that the header totals do not close without the unpublished tax total, `isCalculatedRate` and the `null` location sentinel all behave exactly as documented on `GET /v1/financials/invoices`.",
        "operationId": "GetInvoice",
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicInvoice"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/financials/credit-notes": {
      "get": {
        "tags": [
          "Credit Notes"
        ],
        "summary": "List credit notes",
        "description": "Returns the tenant's credit notes as a CHANGE FEED, one page at a time, ordered by `COALESCE(ModifiedUtcDate, CreatedUtcDate)` ascending with the credit note id as a tie-break.\n\n`modifiedDateUtc` carries that coalesced value and is therefore never null: the stored modified timestamp IS nullable and is null for every credit note nobody has edited, so an incremental consumer filtering on the raw column would never see them. Until the first edit, `modifiedDateUtc` equals `createdUtcDate`. The filter parameter is `updatedSince` while the response field is `modifiedDateUtc`; that asymmetry is deliberate and shared with the appointments public surface.\n\n`createdUtcDate` MAY BE `1900-01-01T00:00:00Z`. The column is `NOT NULL` with a `DEFAULT '1900-01-01'`, so a credit note written before the platform recorded creation timestamps carries that sentinel rather than a real date. Those rows are returned like any other — never skipped — but because the feed orders on the coalesced watermark, a sentinel-dated credit note that has also never been edited sits permanently at the FRONT of the feed. A consumer walking the feed from the beginning meets them first; one syncing on `updatedSince` never sees them again after the first pass.\n\nFilters: `updatedSince` (ISO-8601 timestamp, inclusive), `patientId`, `status` (repeatable — `status=Open&status=Closed` reads as OR), and `effectiveDateFrom` / `effectiveDateTo`, an inclusive range over the `effectiveDate` calendar date. `status` accepts exactly the values `/v1/financials/credit-note-statuses` returns and rejects `Unknown`, which exists only to absorb a stored value from outside the contract on the way out.\n\n`patientId` MAY BE NULL, and a credit note CAN EXIST WITHOUT A PATIENT. The underlying column is nullable — uniquely among invoices, estimates and credit notes — so a null there is the practice's data rather than a bug or a redaction. The consequence for paging is concrete: the `patientId` FILTER can never return such a credit note, so a consumer that syncs patient by patient will never see the unattributed ones and must page the unfiltered feed to reach them.\n\nVoid and Deleted credit notes ARE included by default and are returned with their status. A credit note is itself a reversal, and one that disappeared from an incremental feed on being voided would leave a consumer holding a credit the practice has since taken back; narrow with `status` instead. There is no revision history in the schema — an edit overwrites the credit note and moves its watermark — so every row here is the current version of that credit note.\n\nMONEY. THERE IS NO TAX FIELD ON THIS PAYLOAD, and its absence is NOT an implicit zero. `CreditNotes` carries no tax column at all: no `taxTotal`, no `taxableSubTotalAmount`, no `nonTaxableSubTotalAmount` and — unlike the invoice and estimate payloads — not even `coveredTaxesAmount`. A taxed credit note's tax lives in the `CreditNoteTaxes` breakdown rows, which v1 drops, so the figure is UNAVAILABLE from this surface rather than zero. There is no `surchargesTotal` and no `tipsTotal` here either. `amount` is the credited total and is authoritative; `subTotalAmount` is GROSS of discount, so `subTotalAmount - totalDiscount` does not reach `amount` on a taxed credit note.\n\nWhat DOES close is the four-way split of the credited total: `appliedAsPaymentAmount + refundedAmount + balance == amount`, reading each null as zero. That is a real invariant rather than an artefact of arithmetic — all four values are stored independently in their own columns — which is why it is worth relying on.\n\n`appliedAsPaymentAmount` and `refundedAmount` are NULLABLE, and null does not mean zero. The platform sets both to null when the credit note has no live patient credit behind it, so \"never applied\" and \"applied zero\" are different facts and this contract keeps them apart rather than coalescing one into the other. `balance` is `NOT NULL` and reads 0 in that same case, so the two are not interchangeable.\n\nA cursor is bound to the filters it was issued under. Changing any filter value and replaying the cursor is rejected rather than silently resumed mid-stream in another patient's data.\n\nLine items are INLINE, in `lineItems`, fetched set-based for the whole page. Note three things about them. `isCalculatedRate` says which arithmetic applies: when it is `false`, `subTotalAmount = rate × quantity − totalDiscount`; when it is `true`, `rate` IS the line total and that multiplication does not reconcile. `subTotalAmount` is authoritative either way. `amountPaid` is per-LINE settlement and exists only on credit note lines — it is what makes per-line refund reconciliation possible, and unlike the header's applied and refunded figures it is never null. And `overrideName` is OPERATOR-AUTHORED FREE TEXT that MAY CONTAIN PHI — do not log it, cache it by it, or index it. It is NULLABLE on this line, where the same field on an invoice or estimate line is not.\n\n`invoiceId` names the invoice this credit note was raised against, if any, and resolves through `GET /v1/financials/invoices/{id}`. `patientCreditId` is a REFERENCE ONLY: the patient-credit aggregate is not public in v1, so the id is not resolvable yet. It is published because it is the join key a consumer will need and because its presence distinguishes a credit note backed by a live patient credit from one that is not — the same distinction the two nullable money fields carry.\n\n`serviceLocationId` and `billingLocationId` are `null` when the practice never set them. The underlying columns are `NOT NULL DEFAULT 0` and 0 is a not-set sentinel rather than a location id, so publishing it would name a location that does not exist.\n\nNot published: every tax field and the `CreditNoteTaxes` breakdown, the nested patient-credit object and its applied-payment graph, memberships, CareCredit requests, the line's `isReturnable` inventory flag, and every operator free-text field other than `overrideName`. There are no `responsibleParties`: no such table exists for credit notes at all.\n\n`lineItems` IS BOUNDED. One page returns at most 25000 line rows in total across its credit notes, and the single-credit-note read is bounded the same way. The ceiling is orders of magnitude above any real credit note, so reaching it says something is wrong with the data rather than with the request. If it is ever reached the `lineItems` arrays on that page are truncated from the last credit note backwards — `next`, the paging keyset and the header fields are unaffected — and the service counts and logs the event rather than truncating in silence.",
        "operationId": "GetCreditNotes",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updatedSince",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patientId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "effectiveDateFrom",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "effectiveDateTo",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponsePublicCreditNote"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/financials/credit-notes/{creditNoteId}": {
      "get": {
        "tags": [
          "Credit Notes"
        ],
        "summary": "Get a credit note",
        "description": "Returns one credit note with its line items inline — the same payload the collection returns, for a single id.\n\nAn id belonging to another tenant answers 404, not 403: the read runs against the verified tenant's database, so \"does not exist\" and \"not yours\" are the same answer and the response does not distinguish them. Note that `Deleted` is a real, returned status on this resource, so a 404 here never means \"deleted\".\n\n`overrideName` on a line is OPERATOR-AUTHORED FREE TEXT, MAY CONTAIN PHI, and is nullable. The absence of every tax field, the nullable `patientId`, the nullable `appliedAsPaymentAmount` / `refundedAmount` and their invariant with `balance` and `amount`, the `1900-01-01` creation sentinel, `isCalculatedRate` and the `null` location sentinel all behave exactly as documented on `GET /v1/financials/credit-notes`.",
        "operationId": "GetCreditNote",
        "parameters": [
          {
            "name": "creditNoteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicCreditNote"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/financials/payments": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "List payments",
        "description": "Returns the tenant's payments as a CHANGE FEED, one page at a time, ordered by `COALESCE(ModifiedUtcDate, CreatedUtcDate)` ascending with the payment id as a tie-break.\n\n`modifiedDateUtc` carries that coalesced value and is therefore never null: the stored modified timestamp IS nullable and is null for every payment nobody has deleted, voided or re-shared — which is nearly all of them — so an incremental consumer filtering on the raw column would see almost nothing. Until the first edit, `modifiedDateUtc` equals `createdUtcDate`. The filter parameter is `updatedSince` while the response field is `modifiedDateUtc`; that asymmetry is deliberate and shared with the appointments public surface.\n\nREVENUE BUCKETING. Daily collected revenue per location and per payment method is reconstructable from this feed alone: bucket on `paymentDate` (the calendar date the practice recorded the payment against), `locationId` and `paymentMode.paymentType`, and sum `amount`. Use `paymentMode.paymentType` and NOT `paymentMode.name` or `paymentMode.id` — the name is practice-renamable and the id is tenant-local, so neither is comparable across tenants or stable over time; the type is the only cross-tenant-stable classification and it is mandatory on every payment. Two things to get right: `isRefund` carries the DIRECTION, because `amount` is not signed, so subtract refunds rather than expecting the signs to cancel; and narrow with `status=Active` unless you want the deleted and voided rows, which this feed returns by default.\n\nFilters: `updatedSince` (ISO-8601 timestamp, inclusive), `patientId`, `status` (repeatable — `status=Deleted&status=Voided` reads as OR), and `paymentDateFrom` / `paymentDateTo`, an inclusive range over the `paymentDate` calendar date. `status` accepts exactly the values `/v1/financials/payment-statuses` returns. There is deliberately no `locationId` filter in v1: no index covers that column, so bucket by `locationId` client-side from the page.\n\n`status` IS SYNTHESIZED and no column holds it. It is derived from two internal flags that are NOT exposed, `IsDeleted` and `IsVoided`, which are independent — so BOTH CAN BE TRUE ON ONE PAYMENT. When they are, the status reads `Deleted`: deletion is the more terminal fact, and if voiding won instead, a consumer excluding deleted payments would meet the same payment again as a voided one. So the three values PARTITION the collection, and `Voided` means voided AND NOT deleted.\n\nDeleted and voided payments ARE included by default and are returned with their status. A payment that vanished from an incremental feed on being voided would leave a reporting consumer counting revenue the practice has since reversed; narrow with `status` instead. There is no revision history in the schema — an edit overwrites the payment — so every row here is the current version of that payment.\n\n`patientId` MAY BE NULL, and A PAYMENT CAN EXIST WITHOUT A PATIENT. The underlying column is nullable, and the case that produces it is an INSURANCE PAYMENT: such a payment carries an insurance company instead of a patient, and that id is NOT published in v1. So when `patientId` is null, THIS CONTRACT CANNOT TELL YOU WHOSE PAYMENT IT IS — nothing else on the payload identifies the payer. It is the practice's data rather than a bug or a redaction. The consequence for paging is concrete: the `patientId` FILTER can never return such a payment, so a consumer that syncs patient by patient will never see the insurance payments and must page the unfiltered feed to reach them.\n\nMONEY. `amount` is the gross figure the practice took, INCLUSIVE of `surchargeAmount` and of any tip — and tips are not published, so `amount - surchargeAmount` is not the invoice-applied total either. `surchargeAmount` is NULLABLE and null does not mean zero: the column is nullable and \"no surcharge\" and \"a surcharge of zero\" are different facts, so this contract keeps them apart rather than coalescing one into the other. There is no tips total, no per-invoice split and no patient-credit breakdown on this payload.\n\n`invoiceIds` carries REFERENCES ONLY and MAY BE EMPTY. The per-allocation amount exists in the schema and is deliberately not published: the split of one payment across several invoices is not part of the public contract, and per-invoice reconciliation is done from the invoice side through `invoice.paidAmount`. Soft-deleted allocations are EXCLUDED, so an invoice a payment was unlinked from does not appear — without that filter a payment would keep advertising a link it no longer has, and since the amount is not published there would be no second signal to notice it from. An empty array is a real state, e.g. a patient-credit payment, and it does not mean the payment was deleted.\n\n`creditCardType` is a SCALAR, not a nested object, and it is `null` for every payment with no credit-card row — cash, check, patient credit, gift card, rewards. `Unknown` is a REAL RETURNED VALUE on this field, unlike the `Unknown` on the status enums: it means the brand was not recorded. So `null` means \"not a card payment\" and `Unknown` means \"a card payment whose brand nobody recorded\". No cardholder name, card reference, vault id, gateway, processor, merchant id, terminal id, token or authorization code exists anywhere in this contract.\n\n`locationId` is NEVER NULL here, and that differs from the invoice, estimate and credit-note payloads: their location columns are `NOT NULL DEFAULT 0` and publish `null` for the 0 not-set sentinel, while `Payments.LocationID` has no default and always names a real location.\n\nA cursor is bound to the filters it was issued under. Changing any filter value and replaying the cursor is rejected rather than silently resumed mid-stream in another patient's data.\n\nNot published: the internal `isDeleted` and `isVoided` flags that `status` replaces, the insurance company, the destination account, the payment request, the recurring payment, the payment draft, the transaction reference, `sharedWithPatient`, the created and modified user ids, the tips, the patient credits and applied patient credits, the gift card payments, the rewards payment and its third-party loyalty member reference, the CareCredit requests, the refund history, and the operator free text `notes`, `voidedReason` and `deletedReason`.\n\n`invoiceIds` IS BOUNDED, and so is the read behind `creditCardType`. One page returns at most 25000 invoice links in total across its payments, and at most that many card rows, and the single-payment read is bounded the same way. Both ceilings are orders of magnitude above any real payment, so reaching either says something is wrong with the data rather than with the request. If one is ever reached the affected values on that page are truncated from the last payment backwards — `next`, the paging keyset and every other field are unaffected — and the service counts and logs the event rather than truncating in silence.",
        "operationId": "GetPayments",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updatedSince",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patientId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "paymentDateFrom",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "paymentDateTo",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponsePublicPayment"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/financials/payments/{paymentId}": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Get a payment",
        "description": "Returns one payment — the same payload the collection returns, for a single id.\n\nAn id belonging to another tenant answers 404, not 403: the read runs against the verified tenant's database, so \"does not exist\" and \"not yours\" are the same answer and the response does not distinguish them. Note that `Deleted` is a real, returned status on this resource, so a 404 here never means \"deleted\".\n\nThe synthesized `status` and its `Deleted`-over-`Voided` precedence, the nullable `patientId` and the insurance payment behind it, the nullable `surchargeAmount`, the nullable `paymentReason`, the scalar `creditCardType` and its two distinct absent states, and the reference-only `invoiceIds` with soft-deleted allocations excluded all behave exactly as documented on `GET /v1/financials/payments`.",
        "operationId": "GetPayment",
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicPayment"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/financials/membership-programs": {
      "get": {
        "tags": [
          "Memberships"
        ],
        "summary": "List membership programs",
        "description": "Returns the tenant's membership programmes as a CHANGE FEED, one page at a time, ordered by `COALESCE(ModifiedUtcDate, CreatedUtcDate)` ascending with the programme id as a tie-break.\n\n`modifiedDateUtc` carries that coalesced value and is therefore never null: the stored modified timestamp IS nullable and is null for every programme nobody has edited since the audit columns were added, so an incremental consumer filtering on the raw column would see nothing. Until the first edit, `modifiedDateUtc` equals `createdUtcDate`. The filter parameter is `updatedSince` while the response field is `modifiedDateUtc`; that asymmetry is deliberate and platform-wide.\n\nA DELETED PROGRAMME IS INVISIBLE ON THIS FEED, AND YOU CANNOT DETECT IT FROM HERE. Deletion on this table is a HARD DELETE and the table has no `IsDeleted` column, so no row survives to carry a watermark and there is nothing for a change feed to report — the programme simply stops appearing. This is the one acknowledged hole in the incremental guarantee on this API. A consumer that must notice removals has to reconcile against a full unfiltered page rather than relying on `updatedSince`. The same fact is why a membership's `membershipProgramId` can outlive the programme it names and answer 404 on `/v1/financials/membership-programs/{id}`.\n\nFilters: `updatedSince` (ISO-8601 timestamp, inclusive) and `status` (repeatable, though with two values repeating it is the same as omitting it). `status` accepts exactly the values `/v1/financials/membership-program-statuses` returns.\n\n`status` IS SYNTHESIZED and no column holds it. `Active` means AVAILABLE FOR ENROLMENT: the practice has the programme switched on AND today falls inside the `startDate` … `endDate` window, both bounds inclusive, judged by UTC calendar date. `Inactive` is the exact negation — switched off, not started yet, or already ended — so the two values partition the collection and you can recompute both from this payload, except for the switch itself: the stored `IsEnabled` flag is NOT published, so an `Inactive` programme whose dates look current is one the practice has turned off.\n\nDisabled and ended programmes ARE included by default and are returned with their status, because a membership enrolled years ago still points at its programme and a consumer resolving that reference needs the row to exist. Narrow with `status=Active` for the current catalogue.\n\n`duration` HAS NO RECORDED UNIT AND THIS SERVICE NEVER USES IT. There is no expiration arithmetic anywhere in the financials service: a membership's `expirationDate` is a stored column set by whoever enrolled the patient, not computed from this number. Treat `duration` as descriptive metadata the practice configured — display it, do not compute an expiry from it. A membership's own `expirationDate` on `/v1/financials/memberships` is the authoritative answer.\n\n`itemId` IS NULLABLE and the null is a real state: a programme can be configured without a catalog item. It is a REFERENCE ONLY — the item is never joined, so no item name or price appears here. `giftCardAmount` is nullable on the same terms as any money column on this surface: null means the programme grants no gift card, which is not the same fact as granting one worth zero.\n\nDATES. `startDate` and `endDate` are stored in `DATETIME` columns rather than `DATE` ones and are published as CALENDAR DATES: the time part is not published and plays no part in `status`, so the window you read and the status you read are computed from the same values. `createdUtcDate` is different in a way worth stating: for every programme that existed before the audit columns were added it is THE TIMESTAMP THE COLUMN WAS ADDED, not a real creation date — there was nothing to backfill it from — so a whole practice's programmes commonly share one value unrelated to when they were configured. Use `startDate` for when the offering began.\n\nA cursor is bound to the filters it was issued under. Changing any filter value and replaying the cursor is rejected rather than silently resumed.\n\nNot published: the whole `discounts[]` collection and the three obsolete discount triples — the enums that said what a discount applied to and whether its amount was a rate or a sum are all out of v1, and a discount without its target is not interpretable; `type` and `applicationType`, both obsolete; `isCombineEnabled`; `partnerId` and the partner extended information; `iconId`, because media is v2; the `isEnabled` flag that `status` replaces; and the nested catalog item.",
        "operationId": "GetMembershipPrograms",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updatedSince",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponsePublicMembershipProgram"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/financials/membership-programs/{membershipProgramId}": {
      "get": {
        "tags": [
          "Memberships"
        ],
        "summary": "Get a membership program",
        "description": "Returns one membership programme — the same payload the collection returns, for a single id.\n\nAn id belonging to another tenant answers 404, not 403: the read runs against the verified tenant's database, so \"does not exist\" and \"not yours\" are the same answer and the response does not distinguish them. A THIRD case answers 404 here and is worth knowing about: a programme that was DELETED. Deletion on this table is a hard delete with no `IsDeleted` column, so a membership's `membershipProgramId` can outlive the programme it names, and this endpoint cannot tell you which of the three happened.\n\nThe synthesized `status` and its availability window, the unit-less `duration`, the nullable `itemId` and `giftCardAmount`, and the `createdUtcDate` caveat for pre-migration rows all behave exactly as documented on `GET /v1/financials/membership-programs`.",
        "operationId": "GetMembershipProgram",
        "parameters": [
          {
            "name": "membershipProgramId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMembershipProgram"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/financials/memberships": {
      "get": {
        "tags": [
          "Memberships"
        ],
        "summary": "List memberships",
[...]
