{
  "openapi": "3.1.1",
  "info": {
    "title": "Symplast Financials Public API",
    "description": "Authenticated, cursor-paged public read surface for financial data: payments, invoices, estimates, credit notes, gift cards, memberships and the catalog.\n\n**Authentication.** Send a bearer token from the Symplast developer portal. The tenant is taken from the token; there is no tenant parameter. A missing or invalid token is 401, and a token without the scope a path requires is 403 with the required scope named in the body.\n\n**Paging.** Every collection returns `data`, `hasMore` and `next`. Follow `next` verbatim and stop when `hasMore` is false; do not construct a cursor. A cursor is bound to the filters it was issued under, so changing a filter and replaying an old cursor is rejected rather than silently resumed. `pageSize` is a request, not a guarantee.\n\n**Reading changes.** Collections are change feeds, ordered oldest change first, so a consumer can poll for what moved. Pass `updatedSince` (an inclusive ISO-8601 instant) and read `modifiedDateUtc` off each record to checkpoint. `modifiedDateUtc` is never null: for a record never edited it equals `createdUtcDate`. Deleted, void and cancelled records stay in the feed with their status, so a consumer can correct figures it already holds; filter them out by status if you do not want them.\n\n**Errors** are `application/problem+json` (RFC 9457) with a stable `code` to match on.\n\n**Reference data.** A tenant reference collection — brands, categories, item types, occasions, payment modes, payment and discount reasons — is a FULL read, not a change feed: the tables carry no timestamp, so there is no `updatedSince` and a consumer keeping a local copy re-reads the whole collection. Rows the practice has removed are included with `isDeleted: true`, because historical records still reference them; filter on that flag for what is currently selectable. A status vocabulary is contract metadata rather than tenant data: it arrives complete and unpaged, is identical for every tenant, and never includes the `Unknown` sentinel, which exists only to absorb a stored value from outside the contract on the way out.\n\n**Money** fields are authoritative as published; do not recompute a total from the other fields.\n\n**Free-text fields may contain patient information.** Where a field is described as operator free text, treat it as PHI: do not log it, index it, or use it as a cache key.",
    "version": "1.144.105"
  },
  "servers": [
    {
      "url": "https://api.symplast.com"
    }
  ],
  "paths": {
    "/v1/financials/payment-modes": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "List payment modes",
        "description": "Every payment mode configured for the tenant, ordered by `id`. Group and compare on `paymentType`, since the name is practice-renamable and the id is tenant-local.",
        "operationId": "GetPaymentModes",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponsePublicPaymentMode"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/financials/payment-reasons": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "List payment reasons",
        "description": "Every payment reason configured for the tenant, ordered by `id`.",
        "operationId": "GetPaymentReasons",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponsePublicPaymentReason"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/financials/discount-reasons": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "List discount reasons",
        "description": "Every discount reason configured for the tenant, ordered by `id`.",
        "operationId": "GetDiscountReasons",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponsePublicDiscountReason"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/financials/gift-card-occasions": {
      "get": {
        "tags": [
          "Gift Cards"
        ],
        "summary": "List occasions",
        "description": "Every gift card occasion configured for the tenant, ordered by `id`. An id of 0 is the platform-seeded `Other` occasion rather than a not-set sentinel.",
        "operationId": "GetOccasions",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponsePublicOccasion"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/financials/item-brands": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "summary": "List brands",
        "description": "Every brand configured for the tenant, ordered by `id`. Additive to the inline `brand` object on an item.",
        "operationId": "GetBrands",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponsePublicBrand"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/financials/item-categories": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "summary": "List categories",
        "description": "Every flat item category configured for the tenant, ordered by `id`. A separate table from the hierarchical categories on `/v1/financials/item-hierarchical-categories`, with no parent and no delete flag.",
        "operationId": "GetCategories",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponsePublicCategory"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/financials/item-hierarchical-categories": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "summary": "List hierarchical categories",
        "description": "Every hierarchical item category configured for the tenant, ordered by `id` and flat rather than nested, so build the tree client-side from `id` and `parentId`. Ordering is by id rather than tree position, so a child can arrive on an earlier page than its parent. `parentId` may name a category whose own `isDeleted` is true, so resolve it against this same collection including deleted rows.",
        "operationId": "GetHierarchicalCategories",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponsePublicHierarchicalCategory"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/financials/item-types": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "summary": "List item types",
        "description": "Every item type configured for the tenant, ordered by `id`. Additive to the inline `itemType` object on an item.",
        "operationId": "GetItemTypes",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponsePublicItemType"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/financials/estimates": {
      "get": {
        "tags": [
          "Estimates"
        ],
        "summary": "List estimates",
        "description": "A page of the tenant's estimates, each with its line items inline. Filters: `updatedSince`, `patientId`, `status` (repeatable, values from `/v1/financials/estimate-statuses`), and the inclusive `effectiveDateFrom` / `effectiveDateTo` range over `effectiveDate`. Rejected, cancelled, deleted and expired estimates are all returned, and a cloned estimate is an independent row with no link to its original, so a naive conversion rate double-counts the opportunity.",
        "operationId": "GetEstimates",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updatedSince",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patientId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "effectiveDateFrom",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "effectiveDateTo",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponsePublicEstimate"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/financials/estimates/{estimateId}": {
      "get": {
        "tags": [
          "Estimates"
        ],
        "summary": "Get an estimate",
        "description": "One estimate with its line items inline, the same payload the collection returns. An id belonging to another tenant answers 404 rather than 403.",
        "operationId": "GetEstimate",
        "parameters": [
          {
            "name": "estimateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicEstimate"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/financials/invoices": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "List invoices",
        "description": "A page of the tenant's invoices, each with its line items inline. Filters: `updatedSince`, `patientId`, `status` (repeatable, values from `/v1/financials/invoice-statuses`), and the inclusive `effectiveDateFrom` / `effectiveDateTo` range over `effectiveDate`. `amount` and `balanceDue` are authoritative, and `paidAmount` is `amount - balanceDue` from the invoice's own balance rather than a reconciliation against payments — the field notes on the schema carry the rest.",
        "operationId": "GetInvoices",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updatedSince",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patientId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "effectiveDateFrom",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "effectiveDateTo",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponsePublicInvoice"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/financials/invoices/{invoiceId}": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "Get an invoice",
        "description": "One invoice with its line items inline, the same payload the collection returns. An id belonging to another tenant answers 404 rather than 403.",
        "operationId": "GetInvoice",
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicInvoice"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/financials/credit-notes": {
      "get": {
        "tags": [
          "Credit Notes"
        ],
        "summary": "List credit notes",
        "description": "A page of the tenant's credit notes, each with its line items inline. Filters: `updatedSince`, `patientId`, `status` (repeatable, values from `/v1/financials/credit-note-statuses`), and the inclusive `effectiveDateFrom` / `effectiveDateTo` range over `effectiveDate`. No tax field is published and its absence is not an implicit zero, `patientId` may be null, and `appliedAsPaymentAmount + refundedAmount + balance == amount` reading each null as zero.",
        "operationId": "GetCreditNotes",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updatedSince",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patientId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "effectiveDateFrom",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "effectiveDateTo",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponsePublicCreditNote"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/financials/credit-notes/{creditNoteId}": {
      "get": {
        "tags": [
          "Credit Notes"
        ],
        "summary": "Get a credit note",
        "description": "One credit note with its line items inline, the same payload the collection returns. An id belonging to another tenant answers 404 rather than 403.",
        "operationId": "GetCreditNote",
        "parameters": [
          {
            "name": "creditNoteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicCreditNote"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/financials/payments": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "List payments",
        "description": "A page of the tenant's payments. Filters: `updatedSince`, `patientId`, `status` (repeatable, values from `/v1/financials/payment-statuses`), and the inclusive `paymentDateFrom` / `paymentDateTo` range over `paymentDate`. `amount` is unsigned so direction comes from `isRefund`, `paymentMode.paymentType` is the only classification comparable across tenants, and a null `patientId` is an insurance payment whose payer this contract does not publish.",
        "operationId": "GetPayments",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updatedSince",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patientId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "paymentDateFrom",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "paymentDateTo",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponsePublicPayment"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/financials/payments/{paymentId}": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Get a payment",
        "description": "One payment by id. An id belonging to another tenant answers 404 rather than 403.",
        "operationId": "GetPayment",
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicPayment"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/financials/membership-programs": {
      "get": {
        "tags": [
          "Memberships"
        ],
        "summary": "List membership programs",
        "description": "A page of the tenant's membership programmes. Filters: `updatedSince` and `status`, which accepts the values `/v1/financials/membership-program-statuses` returns. Deletion here is a hard delete, so a removed programme simply stops appearing and cannot be detected incrementally — reconcile against a full unfiltered page if you must notice removals.",
        "operationId": "GetMembershipPrograms",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updatedSince",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponsePublicMembershipProgram"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/financials/membership-programs/{membershipProgramId}": {
      "get": {
        "tags": [
          "Memberships"
        ],
        "summary": "Get a membership program",
        "description": "One membership programme by id. An id belonging to another tenant answers 404 rather than 403, and so does one that was hard-deleted, which is why a membership can name a programme this endpoint cannot return.",
        "operationId": "GetMembershipProgram",
        "parameters": [
          {
            "name": "membershipProgramId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMembershipProgram"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/financials/memberships": {
      "get": {
        "tags": [
          "Memberships"
        ],
        "summary": "List memberships",
        "description": "A page of the tenant's patient memberships. Filters: `updatedSince`, `patientId`, `status` (repeatable, values from `/v1/financials/membership-statuses`), and the inclusive `startDateFrom` / `startDateTo` range over `startDate`. `status` is derived and `Active` includes a membership that has not started yet, while `Past` is reserved and never returned because supersession cannot be derived from a single row.",
        "operationId": "GetMemberships",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updatedSince",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patientId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "startDateFrom",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDateTo",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponsePublicMembership"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/financials/memberships/{membershipId}": {
      "get": {
        "tags": [
          "Memberships"
        ],
        "summary": "Get a membership",
        "description": "One patient membership by id. An id belonging to another tenant answers 404 rather than 403.",
        "operationId": "GetMembership",
        "parameters": [
          {
            "name": "membershipId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicMembership"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/financials/gift-cards": {
      "get": {
        "tags": [
          "Gift Cards"
        ],
        "summary": "List gift cards",
        "description": "A page of the tenant's gift cards. Filters: `updatedSince`, `status` (repeatable, values from `/v1/financials/gift-card-statuses`), and the inclusive `issuedDateFrom` / `issuedDateTo` range over `issuedDate`. `cardNumber` is always masked, `value` is the remaining balance while `maxValue` is the face value and a null there is not zero, and `description` is operator free text.",
        "operationId": "GetGiftCards",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updatedSince",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "issuedDateFrom",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "issuedDateTo",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponsePublicGiftCard"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/financials/gift-cards/{giftCardId}": {
      "get": {
        "tags": [
          "Gift Cards"
        ],
        "summary": "Get a gift card",
        "description": "One gift card by id. An id belonging to another tenant answers 404 rather than 403.",
        "operationId": "GetGiftCard",
        "parameters": [
          {
            "name": "giftCardId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicGiftCard"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/financials/items": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "summary": "List catalog items",
        "description": "A page of the tenant's catalog items, which are global to the tenant. Filters: `updatedSince`, `isForSale`, and the inclusive `createdFrom` / `createdTo` range over the calendar date of `createdUtcDate`. `isForSale`, `status` and `isDeleted` are three independent flags rather than one active state, and `flatPrice` is the global list price that a per-location price, a quantity tier or a document discount all override.",
        "operationId": "GetItems",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updatedSince",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isForSale",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "createdFrom",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "createdTo",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponsePublicItem"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/financials/items/{itemId}": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "summary": "Get a catalog item",
        "description": "One catalog item by id. An id belonging to another tenant answers 404 rather than 403.",
        "operationId": "GetItem",
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicItem"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/financials/item-groups": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "summary": "List item groups",
        "description": "A page of the tenant's item groups, each a named bundle of catalog items with its members inline in `details[]`. Filters: `updatedSince` and `isActive`. No money amount and no `isForSale` is published, because both would depend on a location, a price schedule and a per-member discount kind that this contract does not carry.",
        "operationId": "GetItemGroups",
        "parameters": [
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "updatedSince",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isActive",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponsePublicItemGroup"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/financials/item-groups/{itemGroupId}": {
      "get": {
        "tags": [
          "Catalog"
        ],
        "summary": "Get an item group",
        "description": "One item group with its members inline, the same payload the collection returns. An id belonging to another tenant answers 404 rather than 403.",
        "operationId": "GetItemGroup",
        "parameters": [
          {
            "name": "itemGroupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicItemGroup"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/financials/invoice-statuses": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "List invoice statuses",
        "description": "Every value a invoice's `status` field can carry, and every value its `status` filter accepts.",
        "operationId": "GetInvoiceStatuses",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponsePublicStatus"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/financials/credit-note-statuses": {
      "get": {
        "tags": [
          "Credit Notes"
        ],
        "summary": "List credit note statuses",
        "description": "Every value a credit note's `status` field can carry, and every value its `status` filter accepts.",
        "operationId": "GetCreditNoteStatuses",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponsePublicStatus"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/financials/estimate-statuses": {
      "get": {
        "tags": [
          "Estimates"
        ],
        "summary": "List estimate statuses",
        "description": "Every value a estimate's `status` field can carry, and every value its `status` filter accepts.",
        "operationId": "GetEstimateStatuses",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponsePublicStatus"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/financials/gift-card-statuses": {
      "get": {
        "tags": [
          "Gift Cards"
        ],
        "summary": "List gift card statuses",
        "description": "Every value a gift card's `status` field can carry, and every value its `status` filter accepts.\n\nOne merged field: `Draft` and `Deleted` are stored and take precedence, while `Expired` and `Redeemed` are derived on read.",
        "operationId": "GetGiftCardStatuses",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponsePublicStatus"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/financials/membership-statuses": {
      "get": {
        "tags": [
          "Memberships"
        ],
        "summary": "List membership statuses",
        "description": "Every value a membership's `status` field can carry, and every value its `status` filter accepts.\n\nDerived on read from the membership's dates and its cancellation, with no stored column behind it.",
        "operationId": "GetMembershipStatuses",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponsePublicStatus"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/financials/membership-program-statuses": {
      "get": {
        "tags": [
          "Memberships"
        ],
        "summary": "List membership program statuses",
        "description": "Every value a membership program's `status` field can carry, and every value its `status` filter accepts.\n\nDerived on read, with no stored column behind it.",
        "operationId": "GetMembershipProgramStatuses",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponsePublicStatus"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/v1/financials/payment-statuses": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "List payment statuses",
        "description": "Every value a payment's `status` field can carry, and every value its `status` filter accepts.\n\nDerived from the internal deleted and voided flags, which are not exposed, so every payment maps onto exactly one of these three values.",
        "operationId": "GetPaymentStatuses",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponsePublicStatus"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PagedResponsePublicBrand": {
        "required": [
          "data",
          "pageSize",
          "count",
          "hasMore"
        ],
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicBrand"
            }
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "count": {
            "type": "integer",
            "format": "int32"
          },
          "hasMore": {
            "type": "boolean"
          },
          "nextCursor": {
            "type": [
              "null",
              "string"
            ]
          },
          "next": {
            "type": [
              "null",
              "string"
            ]
          }
        },
        "description": "A single page of PublicBrand items, with `hasMore` and a `next` cursor link."
      },
      "PagedResponsePublicCategory": {
        "required": [
          "data",
          "pageSize",
          "count",
          "hasMore"
        ],
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicCategory"
            }
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "count": {
            "type": "integer",
            "format": "int32"
          },
          "hasMore": {
            "type": "boolean"
          },
          "nextCursor": {
            "type": [
              "null",
              "string"
            ]
          },
          "next": {
            "type": [
              "null",
              "string"
            ]
          }
        },
        "description": "A single page of PublicCategory items, with `hasMore` and a `next` cursor link."
      },
      "PagedResponsePublicCreditNote": {
        "required": [
          "data",
          "pageSize",
          "count",
          "hasMore"
        ],
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicCreditNote"
            }
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "count": {
            "type": "integer",
            "format": "int32"
          },
          "hasMore": {
            "type": "boolean"
          },
          "nextCursor": {
            "type": [
              "null",
              "string"
            ]
          },
          "next": {
            "type": [
              "null",
              "string"
            ]
          }
        },
        "description": "A single page of PublicCreditNote items, with `hasMore` and a `next` cursor link."
      },
      "PagedResponsePublicDiscountReason": {
        "required": [
          "data",
          "pageSize",
          "count",
          "hasMore"
        ],
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicDiscountReason"
            }
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "count": {
            "type": "integer",
            "format": "int32"
          },
          "hasMore": {
            "type": "boolean"
          },
          "nextCursor": {
            "type": [
              "null",
              "string"
            ]
          },
          "next": {
            "type": [
              "null",
              "string"
            ]
          }
        },
        "description": "A single page of PublicDiscountReason items, with `hasMore` and a `next` cursor link."
      },
      "PagedResponsePublicEstimate": {
        "required": [
          "data",
          "pageSize",
          "count",
          "hasMore"
        ],
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicEstimate"
            }
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "count": {
            "type": "integer",
            "format": "int32"
          },
          "hasMore": {
            "type": "boolean"
          },
          "nextCursor": {
            "type": [
              "null",
              "string"
            ]
          },
          "next": {
            "type": [
              "null",
              "string"
            ]
          }
        },
        "description": "A single page of PublicEstimate items, with `hasMore` and a `next` cursor link."
      },
      "PagedResponsePublicGiftCard": {
        "required": [
          "data",
          "pageSize",
          "count",
          "hasMore"
        ],
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicGiftCard"
            }
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "count": {
            "type": "integer",
            "format": "int32"
          },
          "hasMore": {
            "type": "boolean"
          },
          "nextCursor": {
            "type": [
              "null",
              "string"
            ]
          },
          "next": {
            "type": [
              "null",
              "string"
            ]
          }
        },
        "description": "A single page of PublicGiftCard items, with `hasMore` and a `next` cursor link."
      },
      "PagedResponsePublicHierarchicalCategory": {
        "required": [
          "data",
          "pageSize",
          "count",
          "hasMore"
        ],
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicHierarchicalCategory"
            }
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "count": {
            "type": "integer",
            "format": "int32"
          },
          "hasMore": {
            "type": "boolean"
          },
          "nextCursor": {
            "type": [
              "null",
              "string"
            ]
          },
          "next": {
            "type": [
              "null",
              "string"
            ]
          }
        },
        "description": "A single page of PublicHierarchicalCategory items, with `hasMore` and a `next` cursor link."
      },
      "PagedResponsePublicInvoice": {
        "required": [
          "data",
          "pageSize",
          "count",
          "hasMore"
        ],
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicInvoice"
            }
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "count": {
            "type": "integer",
            "format": "int32"
          },
          "hasMore": {
            "type": "boolean"
          },
          "nextCursor": {
            "type": [
              "null",
              "string"
            ]
          },
          "next": {
            "type": [
              "null",
              "string"
            ]
          }
        },
        "description": "A single page of PublicInvoice items, with `hasMore` and a `next` cursor link."
      },
      "PagedResponsePublicItem": {
        "required": [
          "data",
          "pageSize",
          "count",
          "hasMore"
        ],
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicItem"
            }
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "count": {
            "type": "integer",
            "format": "int32"
          },
          "hasMore": {
            "type": "boolean"
          },
          "nextCursor": {
            "type": [
              "null",
              "string"
            ]
          },
          "next": {
            "type": [
              "null",
              "string"
            ]
          }
        },
        "description": "A single page of PublicItem items, with `hasMore` and a `next` cursor link."
      },
      "PagedResponsePublicItemGroup": {
        "required": [
          "data",
          "pageSize",
          "count",
          "hasMore"
        ],
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicItemGroup"
            }
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "count": {
            "type": "integer",
            "format": "int32"
          },
          "hasMore": {
            "type": "boolean"
          },
          "nextCursor": {
            "type": [
              "null",
              "string"
            ]
          },
          "next": {
            "type": [
              "null",
              "string"
            ]
          }
        },
        "description": "A single page of PublicItemGroup items, with `hasMore` and a `next` cursor link."
      },
      "PagedResponsePublicItemType": {
        "required": [
          "data",
          "pageSize",
          "count",
          "hasMore"
        ],
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicItemType"
            }
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "count": {
            "type": "integer",
            "format": "int32"
          },
          "hasMore": {
            "type": "boolean"
          },
          "nextCursor": {
            "type": [
              "null",
              "string"
            ]
          },
          "next": {
            "type": [
              "null",
              "string"
            ]
          }
        },
        "description": "A single page of PublicItemType items, with `hasMore` and a `next` cursor link."
      },
      "PagedResponsePublicMembership": {
        "required": [
          "data",
          "pageSize",
          "count",
          "hasMore"
        ],
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicMembership"
            }
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "count": {
            "type": "integer",
            "format": "int32"
          },
          "hasMore": {
            "type": "boolean"
          },
          "nextCursor": {
            "type": [
              "null",
              "string"
            ]
          },
          "next": {
            "type": [
              "null",
              "string"
            ]
          }
        },
        "description": "A single page of PublicMembership items, with `hasMore` and a `next` cursor link."
      },
      "PagedResponsePublicMembershipProgram": {
        "required": [
          "data",
          "pageSize",
          "count",
          "hasMore"
        ],
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicMembershipProgram"
            }
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "count": {
            "type": "integer",
            "format": "int32"
          },
          "hasMore": {
            "type": "boolean"
          },
          "nextCursor": {
            "type": [
              "null",
              "string"
            ]
          },
          "next": {
            "type": [
              "null",
              "string"
            ]
          }
        },
        "description": "A single page of PublicMembershipProgram items, with `hasMore` and a `next` cursor link."
      },
      "PagedResponsePublicOccasion": {
        "required": [
          "data",
          "pageSize",
          "count",
          "hasMore"
        ],
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicOccasion"
            }
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "count": {
            "type": "integer",
            "format": "int32"
          },
          "hasMore": {
            "type": "boolean"
          },
          "nextCursor": {
            "type": [
              "null",
              "string"
            ]
          },
          "next": {
            "type": [
              "null",
              "string"
            ]
          }
        },
        "description": "A single page of PublicOccasion items, with `hasMore` and a `next` cursor link."
      },
      "PagedResponsePublicPayment": {
        "required": [
          "data",
          "pageSize",
          "count",
          "hasMore"
        ],
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicPayment"
            }
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "count": {
            "type": "integer",
            "format": "int32"
          },
          "hasMore": {
            "type": "boolean"
          },
          "nextCursor": {
            "type": [
              "null",
              "string"
            ]
          },
          "next": {
            "type": [
              "null",
              "string"
            ]
          }
        },
        "description": "A single page of PublicPayment items, with `hasMore` and a `next` cursor link."
      },
      "PagedResponsePublicPaymentMode": {
        "required": [
          "data",
          "pageSize",
          "count",
          "hasMore"
        ],
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicPaymentMode"
            }
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "count": {
            "type": "integer",
            "format": "int32"
          },
          "hasMore": {
            "type": "boolean"
          },
          "nextCursor": {
            "type": [
              "null",
              "string"
            ]
          },
          "next": {
            "type": [
              "null",
              "string"
            ]
          }
        },
        "description": "A single page of PublicPaymentMode items, with `hasMore` and a `next` cursor link."
      },
      "PagedResponsePublicPaymentReason": {
        "required": [
          "data",
          "pageSize",
          "count",
          "hasMore"
        ],
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicPaymentReason"
            }
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "count": {
            "type": "integer",
            "format": "int32"
          },
          "hasMore": {
            "type": "boolean"
          },
          "nextCursor": {
            "type": [
              "null",
              "string"
            ]
          },
          "next": {
            "type": [
              "null",
              "string"
            ]
          }
        },
        "description": "A single page of PublicPaymentReason items, with `hasMore` and a `next` cursor link."
      },
      "PagedResponsePublicStatus": {
        "required": [
          "data",
          "pageSize",
          "count",
          "hasMore"
        ],
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicStatus"
            }
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "count": {
            "type": "integer",
            "format": "int32"
          },
          "hasMore": {
            "type": "boolean"
          },
          "nextCursor": {
            "type": [
              "null",
              "string"
            ]
          },
          "next": {
            "type": [
              "null",
              "string"
            ]
          }
        },
        "description": "A single page of PublicStatus items, with `hasMore` and a `next` cursor link."
      },
      "ProblemDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": [
              "null",
              "string"
            ]
          },
          "title": {
            "type": [
              "null",
              "string"
            ]
          },
          "status": {
            "type": [
              "null",
              "integer"
            ],
            "format": "int32"
          },
          "detail": {
            "type": [
              "null",
              "string"
            ]
          },
          "instance": {
            "type": [
              "null",
              "string"
            ]
          }
        },
        "description": "RFC 9457 problem details describing an error response."
      },
      "PublicBrand": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Gets the brand id.",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "description": "Gets the name. This is the column's name and the field name on the wire."
          },
          "isDeleted": {
            "type": "boolean",
            "description": "Gets a value indicating whether the brand has been removed by the practice. Deleted brands stay in\nthis lookup because historical items still reference them; a consumer that only wants the currently\nselectable brands filters on this field."
          }
        },
        "description": "A brand: the practice-configurable list the inline `brand` reference on an item points at.\nProperty order is the wire order, and it is the field set PLA-1067 published — nothing more."
      },
      "PublicBrandReference": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Gets the brand id. Tenant-local, and resolvable through `/v1/financials/item-brands`.",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "description": "Gets the brand's name. `NVARCHAR(50) NOT NULL`, and practice-renamable."
          }
        },
        "description": "    A brand, as it appears inline on an item. Two fields only; `/v1/financials/item-brands` carries the\n    `isDeleted` flag.\n    NEVER NULL. Items.BrandID is INT NOT NULL with a foreign key, so every item has one — and\nTHE NOT-SET SENTINEL HERE IS A NAME RATHER THAN AN ID. Brands is seeded (1,'Unknown') and\n(2,'None'), so an item whose brand is unrecorded still points at a real row with a real id. Do not\nread an id of 0 as \"unset\" — that convention belongs to the invoice and estimate aggregates, not\nhere — and do not translate 'Unknown' into null: the two seeded names mean different things\n(\"nobody said\" versus \"deliberately none\") and collapsing either loses that."
      },
      "PublicCategory": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Gets the category id. This is the value one of an item's `categories[].id` refers to.",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "description": "Gets the name. `NVARCHAR(50) NOT NULL` per the DACPAC, so this is `required` rather than\nnullable."
          }
        },
        "description": "    A category: the practice-configurable list an item's `categories[]` entries point at.\n    Property order is the wire order, and it is the whole table — Categories has exactly two columns,\nCategoryID and Name, and both are published.\n    This is the flat category list, not the hierarchical one: HierarchicalCategories is a separate\ntable with its own parentId and its own delete flag, served by its own lookup."
      },
      "PublicCategoryReference": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Gets the category id. Tenant-local, and resolvable through `/v1/financials/item-categories`.",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "description": "    Gets the category's name. `NVARCHAR(50) NOT NULL`, and practice-renamable.\n    Categories HAS NO DELETE FLAG, so deletion there is hard AND CASCADES:\nFK_ItemCategories_Categories is ON DELETE CASCADE, so deleting a category silently\nremoves it from every item that carried it. See GET /v1/financials/items for what that means for a change\nfeed."
          }
        },
        "description": "    A category, as it appears in an item's `categories[]`. Two fields only; `/v1/financials/item-categories`\n    carries the full set.\n    Categories are a MANY-TO-MANY through ItemCategories, so an item can have none, one or many, and\nthe array is empty rather than null when it has none."
      },
      "PublicCreditCardType": {
        "enum": [
          "Unknown",
          "Visa",
          "MasterCard",
          "Amex",
          "Discover",
          "Debit",
          "CareCredit"
        ]
      },
      "PublicCreditNote": {
        "required": [
          "creditNoteNumber",
          "currency",
          "lineItems"
        ],
        "type": "object",
        "properties": {
          "creditNoteId": {
            "type": "integer",
            "description": "Gets the credit note id.",
            "format": "int32"
          },
          "creditNoteNumber": {
            "type": "string",
            "description": "Gets the practice-facing credit note number. `NVARCHAR(50) NOT NULL` with a uniqueness\nconstraint, so it is `required` rather than nullable."
          },
          "patientId": {
            "type": [
              "null",
              "integer"
            ],
            "description": "    Gets the patient this credit note belongs to, or NULL when it belongs to no patient.\n    A credit note CAN EXIST WITHOUT A PATIENT: CreditNotes.PatientID is INT NULL, which\nmakes this aggregate unique among the three — Invoices.PatientID and\nEstimates.PatientID are both NOT NULL. A null here is the practice's data, not a bug\nand not a redaction. It also means the patientId filter can never return such a credit note.",
            "format": "int32"
          },
          "invoiceId": {
            "type": [
              "null",
              "integer"
            ],
            "description": "Gets the invoice this credit note was raised against, or null when it was raised standalone.\n`INT NULL` with `FK_CreditNotes_Invoices`, so the reference resolves through\n`GET /v1/financials/invoices/{id}`.",
            "format": "int32"
          },
          "patientCreditId": {
            "type": [
              "null",
              "integer"
            ],
            "description": "    Gets the patient credit this note is settled through, or null.\n    A REFERENCE ONLY. The patient-credit aggregate is not part of the public surface in v1, so this id is\nnot resolvable yet; it is published because it is the join key a consumer will eventually need, and\nbecause it distinguishes a credit note backed by a live patient credit from one that is not — which\nis exactly the distinction decimal? PublicCreditNote.AppliedAsPaymentAmount and decimal? PublicCreditNote.RefundedAmount\nbeing null carries.",
            "format": "int32"
          },
          "serviceLocationId": {
            "type": [
              "null",
              "integer"
            ],
            "description": "Gets the location the service was delivered at, or NULL when the practice never set one.\n`ServiceLocationID` is `INT NOT NULL DEFAULT 0` in the database and 0 is a \"not set\"\nsentinel rather than a location id, so it is published as `null`: returning 0 would name a\nlocation that does not exist.",
            "format": "int32"
          },
          "billingLocationId": {
            "type": [
              "null",
              "integer"
            ],
            "description": "Gets the location the credit note is billed from, or NULL when the practice never set one. Same\n`NOT NULL DEFAULT 0` sentinel as int? PublicCreditNote.ServiceLocationId.",
            "format": "int32"
          },
          "effectiveDate": {
            "type": "string",
            "description": "Gets the effective date. A `DATE` column — a calendar date with no time part.",
            "format": "date"
          },
          "createdUtcDate": {
            "type": "string",
            "description": "    Gets the creation timestamp, in UTC.\n    MAY BE 1900-01-01T00:00:00Z. The column is DATETIME NOT NULL with a\nDEFAULT '1900-01-01', so a credit note written before the platform started recording creation\ntimestamps carries that sentinel rather than a real date. Such a row is returned like any other; if\nit has also never been edited, DateTimeOffset PublicCreditNote.ModifiedDateUtc equals the sentinel and the row sits\npermanently at the front of the change feed.",
            "format": "date-time"
          },
          "status": {
            "description": "Gets the lifecycle state. `Void` and `Deleted` credit notes ARE part of the feed and are\nreturned with their status, so filter on `status` rather than assuming a live-only collection.",
            "$ref": "#/components/schemas/PublicCreditNoteStatus"
          },
          "subTotalAmount": {
            "type": "number",
            "description": "Gets the sub-total amount. GROSS of discount: the platform computes it as the line sub-totals with\ndecimal PublicCreditNote.TotalDiscount added back, so `subTotalAmount - totalDiscount` is the net figure\nand this one is not.",
            "format": "double"
          },
          "totalDiscount": {
            "type": "number",
            "description": "Gets the total discount applied across the credit note's lines.",
            "format": "double"
          },
          "amount": {
            "type": "number",
            "description": "Gets the credited total — what the practice gave back. Computed by the platform as\n`subTotalAmount - totalDiscount + the credit note's tax total`, and that last term is the sum of\nthe unpublished `CreditNoteTaxes` rows, so on a taxed credit note this figure does NOT reconcile\nfrom the published fields alone. It is authoritative; do not recompute it.",
            "format": "double"
          },
          "appliedAsPaymentAmount": {
            "type": [
              "null",
              "number"
            ],
            "description": "    Gets how much of the credit has been spent as payment, or NULL.\n    NUMERIC(18,2) NULL and published as nullable deliberately. The write path sets it to null —\nnot zero — when the credit note has no live patient credit behind it, so \"never applied\" and\n\"applied zero\" are genuinely different facts and coalescing would assert the second when the first is\ntrue. A consumer that wants a number must choose its own default and know it is choosing.\n    Together with decimal? PublicCreditNote.RefundedAmount and decimal PublicCreditNote.Balance it accounts for\ndecimal PublicCreditNote.Amount: appliedAsPaymentAmount + refundedAmount + balance == amount, treating\neach null as zero. That is a REAL invariant here, not a tautology — all four values are stored\nindependently in their own columns, unlike the invoice surface's paidAmount, which is derived\nfrom amount - balanceDue and therefore closes by construction.",
            "format": "double"
          },
          "refundedAmount": {
            "type": [
              "null",
              "number"
            ],
            "description": "Gets how much of the credit was refunded in cash, or NULL, on exactly the same terms as\ndecimal? PublicCreditNote.AppliedAsPaymentAmount — the two are set and cleared together.",
            "format": "double"
          },
          "balance": {
            "type": "number",
            "description": "Gets the unconsumed remainder of the credit, as the platform maintains it against the linked patient\ncredit's outstanding amount. `NOT NULL DEFAULT 0`, so unlike the two figures above this one is\nalways a number: a credit note with no live patient credit reads `0` here and `null` there.",
            "format": "double"
[...]
