{
  "openapi": "3.1.1",
  "info": {
    "title": "Symplast Appointments Public API",
    "description": "Authenticated, cursor-paged public read surface for appointment data.",
    "version": "1.85.75"
  },
  "servers": [
    {
      "url": "https://api.symplast.com"
    }
  ],
  "paths": {
    "/v1/appointments": {
      "get": {
        "tags": [
          "Appointments"
        ],
        "summary": "List appointments",
        "description": "Returns a cursor-paged feed of the caller's tenant appointments, newest changes first.\nPass `updatedSince` (UTC) to scope by change time and `pageSize` to size the page; follow\nthe `next` link (an opaque `cursor`) to page. Delivery is at-least-once — dedupe on `id`.",
        "operationId": "GetAppointments",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponsePublicAppointment"
                },
                "example": {
                  "data": [
                    {
                      "id": 1024,
                      "updatedAt": "2026-01-15T14:30:00Z",
                      "startsAt": "2026-01-20T09:00:00-05:00",
                      "endsAt": "2026-01-20T09:30:00-05:00",
                      "durationMinutes": 30,
                      "status": {
                        "id": 5,
                        "description": "Confirmed"
                      },
                      "appointmentType": {
                        "id": 1,
                        "description": "Consultation"
                      },
                      "providerId": 42,
                      "locationId": 7,
                      "patientId": 88231,
                      "isDeleted": false,
                      "isCancelled": false
                    }
                  ],
                  "pageSize": 50,
                  "count": 1,
                  "hasMore": false,
                  "nextCursor": null,
                  "next": null
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://api.symplast.com/problems/appointments/invalid-cursor",
                  "title": "Invalid cursor",
                  "status": 400,
                  "detail": "The supplied cursor could not be decoded.",
                  "code": "invalid-cursor"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://api.symplast.com/problems/appointments/unauthenticated",
                  "title": "Unauthenticated",
                  "status": 401,
                  "detail": "A valid bearer token is required to access this resource.",
                  "code": "unauthenticated"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://api.symplast.com/problems/appointments/internal-error",
                  "title": "Internal server error",
                  "status": 500,
                  "detail": "An unexpected error occurred.",
                  "code": "internal-error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/appointments/{id}": {
      "get": {
        "tags": [
          "Appointments"
        ],
        "summary": "Get an appointment by id",
        "description": "Returns a single appointment by its identifier, scoped to the caller's tenant. An id that\ndoes not exist in the tenant returns 404 (a cross-tenant id is indistinguishable from a\nmissing one — no disclosure).",
        "operationId": "GetAppointmentById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The appointment identifier, unique within the caller's tenant.",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicAppointment"
                },
                "example": {
                  "id": 1024,
                  "updatedAt": "2026-01-15T14:30:00Z",
                  "startsAt": "2026-01-20T09:00:00-05:00",
                  "endsAt": "2026-01-20T09:30:00-05:00",
                  "durationMinutes": 30,
                  "status": {
                    "id": 5,
                    "description": "Confirmed"
                  },
                  "appointmentType": {
                    "id": 1,
                    "description": "Consultation"
                  },
                  "providerId": 42,
                  "locationId": 7,
                  "patientId": 88231,
                  "isDeleted": false,
                  "isCancelled": false
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://api.symplast.com/problems/appointments/unauthenticated",
                  "title": "Unauthenticated",
                  "status": 401,
                  "detail": "A valid bearer token is required to access this resource.",
                  "code": "unauthenticated"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://api.symplast.com/problems/appointments/not-found",
                  "title": "Not found",
                  "status": 404,
                  "detail": "The requested appointment does not exist in this tenant.",
                  "code": "not-found"
                }
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://api.symplast.com/problems/appointments/internal-error",
                  "title": "Internal server error",
                  "status": 500,
                  "detail": "An unexpected error occurred.",
                  "code": "internal-error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/appointment-types": {
      "get": {
        "tags": [
          "Appointments"
        ],
        "summary": "List appointment types",
        "description": "Returns the caller tenant's appointment-type vocabulary (id, description, default duration, deleted flag).",
        "operationId": "GetAppointmentTypes",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AppointmentTypeLookup"
                  }
                },
                "example": [
                  {
                    "id": 1,
                    "description": "Consultation",
                    "durationInMinutes": 30,
                    "isDeleted": false
                  }
                ]
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://api.symplast.com/problems/appointments/internal-error",
                  "title": "Internal server error",
                  "status": 500,
                  "detail": "An unexpected error occurred.",
                  "code": "internal-error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/appointment-purposes": {
      "get": {
        "tags": [
          "Appointments"
        ],
        "summary": "List appointment purposes",
        "description": "Returns the caller tenant's appointment-purpose vocabulary (id, description, deleted flag).",
        "operationId": "GetAppointmentPurposes",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AppointmentPurposeLookup"
                  }
                },
                "example": [
                  {
                    "id": 2,
                    "description": "New Patient",
                    "isDeleted": false
                  }
                ]
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://api.symplast.com/problems/appointments/internal-error",
                  "title": "Internal server error",
                  "status": 500,
                  "detail": "An unexpected error occurred.",
                  "code": "internal-error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/appointment-statuses": {
      "get": {
        "tags": [
          "Appointments"
        ],
        "summary": "List appointment statuses",
        "description": "Returns the caller tenant's appointment-status vocabulary (id, name, description, deleted flag).",
        "operationId": "GetAppointmentStatuses",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AppointmentStatusLookup"
                  }
                },
                "example": [
                  {
                    "id": 5,
                    "name": "Confirmed",
                    "description": "Appointment confirmed by the patient",
                    "isDeleted": false
                  }
                ]
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://api.symplast.com/problems/appointments/internal-error",
                  "title": "Internal server error",
                  "status": 500,
                  "detail": "An unexpected error occurred.",
                  "code": "internal-error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/appointment-stages": {
      "get": {
        "tags": [
          "Appointments"
        ],
        "summary": "List appointment stages",
        "description": "Returns the caller tenant's appointment-stage vocabulary; each stage lists the status ids it couples to.",
        "operationId": "GetAppointmentStages",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AppointmentStageLookup"
                  }
                },
                "example": [
                  {
                    "stageType": "Scheduled",
                    "description": "Scheduled stage",
                    "statusIds": [
                      5,
                      6
                    ]
                  }
                ]
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://api.symplast.com/problems/appointments/internal-error",
                  "title": "Internal server error",
                  "status": 500,
                  "detail": "An unexpected error occurred.",
                  "code": "internal-error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/appointment-payment-types": {
      "get": {
        "tags": [
          "Appointments"
        ],
        "summary": "List appointment payment types",
        "description": "Returns the caller tenant's appointment payment-type vocabulary (id, description).",
        "operationId": "GetAppointmentPaymentTypes",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PaymentTypeLookup"
                  }
                },
                "example": [
                  {
                    "id": 1,
                    "description": "Cash"
                  }
                ]
              }
            }
          },
          "default": {
            "description": "Unexpected error (RFC 9457 problem details).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "https://api.symplast.com/problems/appointments/internal-error",
                  "title": "Internal server error",
                  "status": 500,
                  "detail": "An unexpected error occurred.",
                  "code": "internal-error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AppointmentPurposeLookup": {
        "required": [
          "id",
          "description",
          "isDeleted"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "example": 2
          },
          "description": {
            "type": "string",
            "example": "New Patient"
          },
          "isDeleted": {
            "type": "boolean",
            "example": false
          }
        },
        "description": "An appointment purpose vocabulary entry (tenant-scoped).",
        "example": {
          "id": 2,
          "description": "New Patient",
          "isDeleted": false
        }
      },
      "AppointmentStageLookup": {
        "required": [
          "stageType",
          "description",
          "statusIds"
        ],
        "type": "object",
        "properties": {
          "stageType": {
            "type": "string",
            "example": "Scheduled"
          },
          "description": {
            "type": "string",
            "example": "Scheduled stage"
          },
          "statusIds": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "example": [
              5,
              6
            ]
          }
        },
        "description": "An appointment stage vocabulary entry (couples to statuses).",
        "example": {
          "stageType": "Scheduled",
          "description": "Scheduled stage",
          "statusIds": [
            5,
            6
          ]
        }
      },
      "AppointmentStatusLookup": {
        "required": [
          "id",
          "name",
          "description",
          "isDeleted"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "example": 5
          },
          "name": {
            "type": "string",
            "example": "Confirmed"
          },
          "description": {
            "type": "string",
            "example": "Appointment confirmed by the patient"
          },
          "isDeleted": {
            "type": "boolean",
            "example": false
          }
        },
        "description": "An appointment status vocabulary entry from per-tenant `StatusMaster`.",
        "example": {
          "id": 5,
          "name": "Confirmed",
          "description": "Appointment confirmed by the patient",
          "isDeleted": false
        }
      },
      "AppointmentTypeLookup": {
        "required": [
          "id",
          "description",
          "durationInMinutes",
          "isDeleted"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "description": {
            "type": "string",
            "example": "Consultation"
          },
          "durationInMinutes": {
            "type": [
              "null",
              "integer"
            ],
            "format": "int32",
            "example": 30
          },
          "isDeleted": {
            "type": "boolean",
            "example": false
          }
        },
        "description": "An appointment type vocabulary entry (tenant-scoped).",
        "example": {
          "id": 1,
          "description": "Consultation",
          "durationInMinutes": 30,
          "isDeleted": false
        }
      },
      "LookupRef": {
        "required": [
          "id",
          "description"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "The lookup identifier (tenant-scoped).",
            "format": "int32",
            "example": 5
          },
          "description": {
            "type": [
              "null",
              "string"
            ],
            "description": "The lookup description; `null` when the source description is null.",
            "example": "Confirmed"
          }
        },
        "description": "A tenant-scoped reference to a lookup value, exposed as a stable-per-tenant id plus its human\ndescription. Used for LookupRef? PublicAppointment.Status and\nLookupRef? PublicAppointment.AppointmentType. The id is NOT stable across tenants.",
        "example": {
          "id": 5,
          "description": "Confirmed"
        }
      },
      "PagedResponsePublicAppointment": {
        "required": [
          "data",
          "pageSize",
          "count",
          "hasMore"
        ],
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PublicAppointment"
            },
            "example": [
              {
                "id": 1024,
                "updatedAt": "2026-01-15T14:30:00Z",
                "startsAt": "2026-01-20T09:00:00-05:00",
                "endsAt": "2026-01-20T09:30:00-05:00",
                "durationMinutes": 30,
                "status": {
                  "id": 5,
                  "description": "Confirmed"
                },
                "appointmentType": {
                  "id": 1,
                  "description": "Consultation"
                },
                "providerId": 42,
                "locationId": 7,
                "patientId": 88231,
                "isDeleted": false,
                "isCancelled": false
              }
            ]
          },
          "pageSize": {
            "type": "integer",
            "format": "int32",
            "example": 50
          },
          "count": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "hasMore": {
            "type": "boolean",
            "example": false
          },
          "nextCursor": {
            "type": [
              "null",
              "string"
            ]
          },
          "next": {
            "type": [
              "null",
              "string"
            ]
          }
        },
        "description": "A single page of PublicAppointment items with `hasMore` plus `self`/`next` paging links.",
        "example": {
          "data": [
            {
              "id": 1024,
              "updatedAt": "2026-01-15T14:30:00Z",
              "startsAt": "2026-01-20T09:00:00-05:00",
              "endsAt": "2026-01-20T09:30:00-05:00",
              "durationMinutes": 30,
              "status": {
                "id": 5,
                "description": "Confirmed"
              },
              "appointmentType": {
                "id": 1,
                "description": "Consultation"
              },
              "providerId": 42,
              "locationId": 7,
              "patientId": 88231,
              "isDeleted": false,
              "isCancelled": false
            }
          ],
          "pageSize": 50,
          "count": 1,
          "hasMore": false,
          "nextCursor": null,
          "next": null
        }
      },
      "PaymentTypeLookup": {
        "required": [
          "id",
          "description"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "description": {
            "type": "string",
            "example": "Cash"
          }
        },
        "description": "An appointment payment-type vocabulary entry (tenant-scoped).",
        "example": {
          "id": 1,
          "description": "Cash"
        }
      },
      "ProblemDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": [
              "null",
              "string"
            ],
            "example": "https://api.symplast.com/problems/appointments/invalid-cursor"
          },
          "title": {
            "type": [
              "null",
              "string"
            ],
            "example": "Invalid cursor"
          },
          "status": {
            "type": [
              "null",
              "integer"
            ],
            "format": "int32",
            "example": 400
          },
          "detail": {
            "type": [
              "null",
              "string"
            ],
            "example": "The supplied cursor could not be decoded."
          },
          "instance": {
            "type": [
              "null",
              "string"
            ]
          }
        },
        "description": "RFC 9457 problem details describing an error response.",
        "example": {
          "type": "https://api.symplast.com/problems/appointments/invalid-cursor",
          "title": "Invalid cursor",
          "status": 400,
          "detail": "The supplied cursor could not be decoded.",
          "code": "invalid-cursor"
        }
      },
      "PublicAppointment": {
        "required": [
          "id",
          "updatedAt",
          "startsAt",
          "endsAt",
          "durationMinutes",
          "providerId",
          "locationId",
          "isDeleted",
          "isCancelled"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Gets the appointment identifier (`AppointmentCalendarId`).",
            "format": "int32",
            "example": 1024
          },
          "updatedAt": {
            "type": "string",
            "description": "Gets the last-changed timestamp as a genuine UTC instant (`Z`). This is the change-feed\nwatermark; a consumer resumes at `updatedSince = lastSeen − overlap` using this value.",
            "format": "date-time",
            "example": "2026-01-15T14:30:00Z"
          },
          "startsAt": {
            "type": "string",
            "description": "Gets when the appointment starts, as ISO-8601 with the location's UTC offset (preserves the\npractice-local wall-clock, e.g. \"9am at the practice\"). Falls back to UTC when the location\ntimezone is unavailable.",
            "format": "date-time",
            "example": "2026-01-20T09:00:00-05:00"
          },
          "endsAt": {
            "type": "string",
            "description": "Gets when the appointment ends, using the same offset convention as DateTimeOffset PublicAppointment.StartsAt.",
            "format": "date-time",
            "example": "2026-01-20T09:30:00-05:00"
          },
          "durationMinutes": {
            "type": "integer",
            "description": "Gets the appointment duration in whole minutes (`End − Start`).",
            "format": "int32",
            "example": 30
          },
          "status": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "description": "Gets the appointment status as a tenant-scoped LookupRef, or `null` when the\nstatus foreign key is null / unmatched (feed-complete LEFT JOIN).",
                "$ref": "#/components/schemas/LookupRef"
              }
            ],
            "example": {
              "id": 5,
              "description": "Confirmed"
            }
          },
          "appointmentType": {
            "oneOf": [
              {
                "type": "null"
              },
              {
                "description": "Gets the appointment type as a tenant-scoped LookupRef, or `null` when the\ntype foreign key is null / unmatched (feed-complete LEFT JOIN).",
                "$ref": "#/components/schemas/LookupRef"
              }
            ],
            "example": {
              "id": 1,
              "description": "Consultation"
            }
          },
          "providerId": {
            "type": "integer",
            "description": "Gets the provider (physician) identifier.",
            "format": "int32",
            "example": 42
          },
          "locationId": {
            "type": "integer",
            "description": "Gets the location (branch) identifier.",
            "format": "int32",
            "example": 7
          },
          "patientId": {
            "type": [
              "null",
              "integer"
            ],
            "description": "Gets the raw patient identifier, or `null` when no patient is assigned. PHI under BAA +\naudit (tokenization dropped for v1).",
            "format": "int32",
            "example": 88231
          },
          "isDeleted": {
            "type": "boolean",
            "description": "Gets a value indicating whether the appointment is deleted (indicator, not filtered out).",
            "example": false
          },
          "isCancelled": {
            "type": "boolean",
            "description": "Gets a value indicating whether the appointment is cancelled (indicator, not filtered out).",
            "example": false
          }
        },
        "description": "The PHI-minimized public projection of an appointment for third-party reporting integrations.",
        "example": {
          "id": 1024,
          "updatedAt": "2026-01-15T14:30:00Z",
          "startsAt": "2026-01-20T09:00:00-05:00",
          "endsAt": "2026-01-20T09:30:00-05:00",
          "durationMinutes": 30,
          "status": {
            "id": 5,
            "description": "Confirmed"
          },
          "appointmentType": {
            "id": 1,
            "description": "Consultation"
          },
          "providerId": 42,
          "locationId": 7,
          "patientId": 88231,
          "isDeleted": false,
          "isCancelled": false
        }
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "description": "Bearer access token. Send it as the `Authorization: Bearer <token>` header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "Bearer": []
    }
  ],
  "tags": [
    {
      "name": "Appointments"
    }
  ]
}
